.basketProduct{
    margin-top: 5%;
    margin-left: 10px;
}

.noBasketContent{
    margin: 15% 15% 15% 15%;
}

.checkoutContainer {
    margin: 10px  10px  10px  10px ;
}

.voucherInput{
    margin: 10px 10px 10px 10px;
}